<div id="splash-screen">
  <h1>Money Patrol</h1>
  <%= button_to 'LOG IN', new_user_session_path, method: :get, class: 'btn btn-primary' %>
  <%= button_to 'SIGN UP', new_user_registration_path, method: :get, class: 'btn btn-light' %>
</div>
