<div id="categories-page">
  <%= render 'layouts/header', title: 'Categories' %>
  <div class="content">
    <div id="categories">
      <% @categories.each do |category| %>
        <%= render category %>
      <% end %>
    </div>
  </div>
  <%= render 'layouts/footer', title: 'Add new Category', path: new_category_path %>
</div>
