<div id="new-expense-page">
  <%= render 'layouts/header', title: 'New Expense', back_url: category_path(@category) %>
  <div class="content">
    <%= render "form", expense: @expense %>
  </div>
</div>
