<header>
  <nav>
    <%= link_to _back_url do %>
      <i class="fa fa-arrow-left fa-2x"></i>
    <% end %>
    <h1><%= title %></h1>
    <%= image_tag "expenses.png", width: 35 %>
  </nav>
</header>
